option_settings:
  # ✅ Single Instance - No Load Balancer
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance

  # ✅ WSGI entry point
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi:application

  # ✅ Environment Variables
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current
    DB_HOST: flask-db.ctyq26mko53d.ap-south-1.rds.amazonaws.com
    DB_PORT: "3306"
    DB_NAME: co_workspace_db
    DB_USER: admin
    DB_PASSWORD: Qspaceco-work
    FLASK_ENV: production
    SECRET_KEY: super_secret_co_workspace_key_2026

  # ✅ Nginx proxy
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

  # ✅ Static files
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
